<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Encuestas USAM</title>
    @Styles.Render("~/Content/CssBootstrap")
    @Styles.Render("~/Content/CssWizardBootstrap")
</head>
<body>

    <div>
        @RenderBody()
    </div>

</body>
@Scripts.Render("~/Scripts/JQuery3.4.0")
@Scripts.Render("~/Scripts/JsBootstrap")
@Scripts.Render("~/Scripts/JsWizardBootstrap")
@Scripts.Render("~/Scripts/JQueryVal")
@Scripts.Render("~/Scripts/JQueryMaskedinput")
@RenderSection("scripts", required: false)
</html>
