@model List<EncuestasUSAM.Models.PROYECTOvista>
@{
    ViewBag.Title = "Consultar";
}
<br />
<div class="container">
    <h2>Registro de Proyecto</h2>

    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Proyecto/Agregar")'" value="Nuevo" />
        </div>
    </div><br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Nombre Proyecto</th>
                    <th>Descripción</th>
                    <th>Tipo Investigación</th>
                    <th>Materia</th>
                    <th>Diseño</th>
                    <th>Fecha Asignación</th>
                    <th>Grupo</th>
                    <th>Accion</th>
                </tr>

                @foreach (var oProyecto in Model)
            {
                    <tr>
                        <td>@oProyecto.ID</td>
                        <td>@oProyecto.NOMBRE_PROYECTO</td>
                        <td>@oProyecto.DESCRIPCION</td>
                        <td>@oProyecto.NOMBRE_TIPO_INVESTIGACION</td>
                        <td>@oProyecto.NOMBRE_MATERIA</td>
                        <td>@oProyecto.NOMBRE_DISENIO</td>
                        <td>@oProyecto.FECHA_ASIGNACION.ToShortDateString()</td>
                        <td>@oProyecto.ID_ALUMNO</td>
                        <td style="margin-left: 10px;padding-left: 150px;">
                            <input id="delete" type="button"  onclick = "document.location.href='@Url.Content("~/Proyecto/Borrar/" + oProyecto.ID)'" value="Eliminar" class="btn btn-danger" style="margin-left: -145px;" /><p>  </p>
                            <input type="button" onclick="document.location.href='@Url.Content("~/Proyecto/Actualizar/" + oProyecto.ID)'" value="Editar" class="btn btn-default" style="margin-top: -84px;margin-left: -45px;"/>
                        </td>
                    </tr>

                }

            </table>
        </div>
    </div>
  
</div>

