@model List<EncuestasUSAM.Models.COORDINADORCrud>

@{
    ViewBag.Title = "Coordinadores";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="container">
    <h2>Coordinadores</h2>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-hover table-striped">
                <thead style="background-color: #094f8b; color: #fff; font-size: 15px;">
                    <tr>
                        <th rowspan="2">Coordinaor</th>
                        <th colspan="2">Correos</th>
                        <th rowspan="2">Facultad</th>
                        <th rowspan="2">Profesion</th>
                        <th rowspan="2">Estado</th>
                    </tr>
                    <tr>
                        <th>USAM</th>
                        <th>Personal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var coordinador in Model)
                    {
                        <tr align="center">
                            <td>@coordinador.COORDINADOR</td>
                            <td>@coordinador.CORREO_INSTITUCIONAL</td>
                            <td>@coordinador.CORREO_PERSONAL</td>
                            <td>@coordinador.NOMBRE_FACULTAD</td>
                            <td>@coordinador.NOMBRE_PROFESION</td>
                            <td>@coordinador.ESTADO_PERMISO</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" value="@coordinador.ESTADO_PERMISO">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>